@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --primary-color: #595ED9;
  --primary-color-darker: #3F4299;
  --secondary-color: #6DD943;
  --secondary-color-darker: #4B8C32;
  --input-color: #AAA;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 48px auto;
  background: #FFF;
  padding: 20px;
  border-radius: 16px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

form input {
  font-size: 24px;
  height: 48px;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid var(--input-color);
}

form input:focus {
  border: 1px solid var(--primary-color);
}

form button {
  font-family: 'Ubuntu', sans-serif;
  height: 48px;
  background: var(--primary-color);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 32px;
}

form button:hover {
  background: var(--primary-color-darker);
}